@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-primary" href="https://localhost:5001/Usuario" role="button">login</a>

<a class="btn btn-primary" href="https://localhost:5001/Usuario" role="button">cadastre-se</a>
